# Entornos virtuales
entorno/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Base de datos local
db.sqlite3

# Archivos de configuración de VS Code
.vscode/

# Archivos temporales y logs
*.log
*.pot
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de migraciones innecesarios (opcional)
**/migrations/*.pyc
**/migrations/__pycache__/

# Archivos estáticos generados (si usás collectstatic)
staticfiles/

# Archivos multimedia subidos por usuarios
media/
!media/posts/imagen_default.jpeg


